@media(min-width: 1440px){
    
}
@media(min-width: 1200px){
   
}
@media(min-width: 992px){
   
}
@media(min-width: 768px){
    
}
@media(min-width: 576px){
   
}

@media(max-width: 1440px){
    .menu-item{
        visibility: hidden;
    }
    .main-nav-bar-responsive{
        visibility: visible !important;
    }
    .img1-welcome{
        width: 250px;
    }
    .img2-welcome{
        width: 250px;
    }
}
@media(max-width: 1200px){
    .img1-welcome{
        width: 200px;
    }
    .img2-welcome{
        width: 200px;
    }
}
@media(max-width: 992px){
    
}
@media(max-width: 768px){
   
}
@media(max-width: 576px){
   
}




